@*//Ordering items without PayPal*@
<div class="row">
    <div class="col-md-6 offset-3">
        <h2>Order complete successfully</h2>
        <p>You can check all order in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>

</div>
